<!DOCTYPE html>
<html>
<head>
	<title>
		Package 1
	</title>
</head>
<body>
	<h1>
		Package 1 - Bangkok
	</h1>
	<h3>
		Description:
	</h3>
	<h5>
		It is Thai Krung Thep, city, capital, and chief port of Thailand. It is the only cosmopolitan city in a country of small towns and villages and is Thailand's cultural and commercial centre. Bangkok is located on the delta of the Chao Phraya River, about 25 miles (40 km) from the Gulf of Thailand.
	</h5>
	<form action="" method="POST">
		{% csrf_token %}
		Comments: <br/>
		<textarea cols="35" rows="8" name="content">
		</textarea><br/>
		<input type ="submit" />
	</form>
	

</body>
</html>