<!DOCTYPE html>
<html>
<head>
	<title>
		Package 3
	</title>
</head>
<body>
	<h1>
		Package 3 - Europe
	</h1>
	<h3>
		Description:
	</h3>
	<h5>
		 Europe is a continent located entirely in the Northern Hemisphere and mostly in the Eastern Hemisphere. It is bordered by the Arctic Ocean to the north, the Atlantic Ocean to the west and the Mediterranean Sea to the south. It comprises the westernmost part of Eurasia.
	</h5>
	<form action="" method="POST">
		{% csrf_token %}
		Comments: <br/>
		<textarea cols="35" rows="8" name="content">
		</textarea><br/>
		<input type ="submit" name="sub3" id="sub3"/>
	</form>


</body>
</html>