<!DOCTYPE html>
<html>
<head>
	<title>
		Package 2
	</title>
</head>
<body>
	<h1>
		Package 2 - Goa
	</h1>
	<h3>
		Description:
	</h3>
	<h5>
		 It is a state on the western cost of India within the coastal region known as the Konkan, separated from the Deccan highlands of the state of Karnataka by the Western Ghats. It is bounded by Maharashtra to the north and Karnataka to the east and south, with the Arabian Sea forming its western coast.
	</h5>
	<form action="" method="POST">
		{% csrf_token %}
		Comments: <br/>
		<textarea cols="35" rows="8" name="content">
		</textarea><br/>
		<input type ="submit" name="sub3" id="sub3"/>
	</form>


</body>
</html>